@using Capstone.Web.Models
@model List<ParkModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="main-content">
    <h2>Select a National Park to Learn More</h2>
    <div>
        @{ foreach (ParkModel park in Model)
            {
                <div class="parkInfo">
                    <a href="~/Home/Park/@park.ParkCode"><img src="~/Content/img/parks/@(park.ParkCode).jpg" /></a>
                    <div class="parkDescription">
                        <a href="~/Home/Park/@park.ParkCode"><p><strong>@park.ParkName, @park.State</strong></p></a>
                        <p>@park.ParkDescription</p>
                    </div>
                </div>
                <hr />
            }
        }
    </div>
</div>