body {
    background-color: lightblue;
}


header p {
color: #FFFFFF;
font-size: 12px;
}

header img {
    height: 110px;
    width: 330px;
}

h2{
    margin: 0px;
    text-align: center;
}
nav {
border: solid 1 px black;
text-align: center;
}

nav h2 {
    color: #FFFFFF;
    padding-left: 60px;
}

nav p {
    color: #FFFFFF;
    font-size: 12px;
    font-style: italic;
    padding-left: 60px;
    border: solid 1 px black;
}
ul {
padding-left: 80px;
border: solid 1 px black;
text-align: center;
}

li {

padding-bottom: 4px;
border: solid 1 px black;
}

li a {
    color: #0D118B;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    border: solid 1 px black;
}
nav ul {
width: 100%;
}

nav ul li {
    float: left;
    margin-right: 20px;
    background-color: white;
    border-radius: 8px;
    list-style: none;
    text-align: center;
    width: 200px;
    padding-top: 5px;
}
nav:after {
clear: both;
}

li a:hover {
text-decoration: underline;
}

#main-content {
background-color: white;
color: black;
border: solid 1px green;
padding: 5px;
border-radius: 10px;
margin: 60px 25px;
min-height: 400px;
padding-top: 10px;
}

.parkInfo{
display: flex;
}
.parkInfo img{
height: 100px;
padding: 10px;
}
.parkDescription{
display: block;
}
.parkDescription a{
color: black;
text-decoration: none;
}

#parkDetailPage{
display:flex;
}
.detailDescription{
display:block;
}

.parkImage img{
height: 250px;
padding: 10px;
}

.quote {
    font-style: italic;
    text-align: center;
    font-family: Gabriola;
}

.parkName{
    text-align: center;
}
.surveyTable{
    justify-content: center;
    display: flex;
    padding: 2px;
}
.surveyTable td{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    font-size: 1.5em;
}
.surveyTable th{
    font-size: 1.5em;
    border: 1px solid black;
}
.surveyTable tr:nth-child(odd){
    background-color: lightblue;
}
.surveyLink{
    display:block;
    text-align:center;
    font-size:1.5em;
}
.labels{
    display:inline-block;
    text-align:left;

}


.surveyForm{
   text-align:center;
  
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#weatherForecast{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100%;
    
}
.weatherDay{
    display:block;
    width:300px;
    height:500px;
    border:2px solid lightblue;
    padding: 10px;
    margin:5px;
    border-radius: 25px;
}
