@using Capstone.Web.Models
@model Dictionary<string, int>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <h2>Results of the Survey</h2>
    <div>
        <table class="surveyTable">
            <tr>
                <th>Park Name</th>
                <th>Votes</th>
            </tr>
            @{ foreach (KeyValuePair<string, int> kvp in Model)
                {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@kvp.Value</td>
                    </tr>
                }
            }
        </table>

        <a class="surveyLink" href="~/Survey/Survey">Take the survey here</a>
    </div>
</div>