@using Capstone.Web.Models
@model List<SurveyModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <h2>Results of the Survey</h2>
    <div>
        @{ foreach (SurveyModel survey in Model)
            {
                <div>
                    <div>
                        <p><strong>@survey.EmailAddress</strong></p>
                    </div>
                </div>
            }
        }
    </div>
</div>