@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
</head>

<body>
    <header>
        <img src="~/Content/img/logo.png" alt="National Park Geek Logo" />
        <h1>America's National Parks</h1>
        <p>National Parks are totally cool. They have mountains, trees, lakes and sometimes even bears. How cool is that? BEARS!</p>
    </header>
    <nav>
        <h2>Explore The National Parks</h2>
        <p>Check out these National Parks on our site!</p>
        <ul>
            <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
            <li>Second Link</li>
            <li>Third Link</li>
            <li>Fourth Link</li>
        </ul>
    </nav>
    <section>
        @RenderBody()
    </section>
</body>
</html>