@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="~/Content/npgeek.css">
</head>

<body>
    <header>
        <a href="~/Home/Index"><img src="~/Content/img/logo.png" alt="National Park Geek Logo" /></a>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Park Information", "Index", "Home")</li>
            <li>@Html.ActionLink("Survey Results", "Index", "Survey")</li>
            <li>@Html.ActionLink("Take The Survey", "Survey", "Survey")</li>
        </ul>
    </nav>
    <section>
        @RenderBody()
    </section>
</body>
</html>